:root {
  --button-inactive: rgb(227 36 21 / 76%) ;
  --button-active: #E32B15;
  --bg-footer-header: rgb(15 236 143 / 10%);
  --green :#0B9D60;
  --dark-green: #006633;
}

* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100dvw;
  height: 100dvh;
}

div#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;   
}

.content-center {
    display: grid;
    place-content: center;
}





